body{ font-family: 'Montserrat';
      text-align: center;
}
p{
    color: #8f8f8f;
    font-size: 1rem;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}

/* headings */

.big-heading{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    
}
.section-heading{
 font-size: 3 rem;
 line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    
    font-size: 2.5rem;
    line-height: 1.5;
}



.container-fluid{
    padding: 7% 15%;
}

/* navigation bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    margin: 0 18px;
    font-size: 1.2rem ;
    font-family:"Montserrat-light"
}
/* downloud-buttons */
.downloud-buttons{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    margin-left: 160px;
    position: absolute;
    right: 20%;
    
}
@media (max-width: 991px){
    #title{
        text-align: center;

    }
    .title-image{
        position: static;
        transform: rotate(0);
        margin-right: 300px;
        
        
    
    }
}

/* <!-- Features --> */
#features{
  
    background-color: #fff;
    position: relative;
    
   
}
.feature-title{
font-size: 1.5rem;
}

.colom-text-features{
    text-align:   center;
   
}
.icons-features{
    color:#ef8172;
    padding-bottom: 1rem;
}
.icons-features:hover{
    color: #ff4c68;
}


/* testimonial Section */

#testimonials {

text-align:   center;
background-color: #ef8172;
color: #fff;

}

.testimonial-text{
 font-size: 3rem;
 line-height: 1.5;
}

.testimonial-image{
 width: 15%;
 border-radius: 100%;
 margin: 1.5rem;
}

#press{
    background-color: #ef8172;
    text-align:   center;
    padding-bottom: 3%;
    
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.price-text{
font-size: 3rem;
line-height: 1.5;
}

#pricing{
    padding: 100px;

}
.pricing-colum{
    padding: 2% 3%;
    
}
#cta{
    background-color: #ff4c68;
    color: #fff;
}
.footer-header{
    font-family: 'Montserrat';
    padding-top: 5%;
    font-size: 3rem;
    line-height: 1.5;
}
#footer{
  
    background-color: #fff;
}

.social-icon {
    margin: 20px 10px;
}
